---
---

<header class="header bg-slate-800 p-4 rounded-xl h-16 flex justify-between items-center" >

 
  <h2 class="text-white text-2xl hover:text-slate-200">
    <a id="title" href="/">Shortilin</a>
  </h2>
  
  <a href="" class="text-white hover:text-yellow-300 p-3 bg-blue-800 rounded-lg uppercase text-xs">Visitar proyecto 🚀</a>

</header>

<script>
  import { q } from "../../public/query-selector";

  const rootElement = document.documentElement;
  const $checkbox: HTMLInputElement = q.$("input", q.$(".switch"));

  function changeTheme(theme) {
    rootElement.className = theme;
  }

  if(window.localStorage.getItem("theme") === "dark"){
    $checkbox.checked = false
  }
  
  $checkbox.addEventListener("change", function () {
    let themeSelect = this.checked ? "light" : "dark"
    changeTheme(themeSelect)
    window.localStorage.setItem("theme", themeSelect)
  });
</script>


<style>
   h2, a {
    font-family: 'Kanit', sans-serif;
  }
</style>