---

---

<section class="text-white my-5">
  <h1 class="text-5xl md:text-8xl text-center my-4">
    Shortilin: Descubre la Ruta Express
  </h1>

  <p class="text-gray-500 text-sm md:text-lg text-center">
    Descubre una forma más rápida y eficiente de navegar por la web con nuestro acortador de enlaces. Simplifica tus URLs y ahorra tiempo en cada clic.
  </p>
</section>

<style>
  h1 {
    font-family: 'Kanit', sans-serif;
  }
</style>