---
interface Props {
  title?: string;
  languaje?: string;
}

const { title, languaje } = Astro.props;
---

<html lang={languaje || "en"}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}{title ? " < " : null}Shotilin</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <slot />
  </head>
</html>

